<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/partials/page-success.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/redirect.js" defer></script>
</head>
<body id="page-success">
    <div id="container">
        <img class="hero-image" src="/images/icons/success-check-icon.svg" alt="Plataforma de Estudos">
        <h1>Cadastro Salvo</h1>
        <p>
            Tudo certo, seu cadastro está na lista de professores. <br>
            Agora é so ficar de olho no seu Whatsapp
        </p>
    </div> <!-- Fim do container -->
</body>
</html>